body {
		background-image: linear-gradient(37deg, rgba(18,19,193,1) 25%, rgba(253,29,29,1) 100%);
}

img {
max-width: 100%;
height: auto;
}

h1 {
	color: white;
	font-family: 'Syne Mono', serif;
	font-size: 2vw;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}

a {
	display: block;
	padding: 14px 16px;
	background-color: #1a1a1a;
	color: white;
	font-family: 'Syne Mono', serif;
	font-size: 2vw;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color: black;
}