body {
		background-image: linear-gradient(37deg, rgba(18,19,193,1) 25%, rgba(253,29,29,1) 100%);
		background-position: center center;
		background-size: 100%;
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding-bottom: 100px;
}/


/* responsive navigation bar */

.navbar {
margin: 1%;	
}	

.topnav {
  overflow: hidden;
  background-color: black;
  width: 100%;
}

.topnav img {
	float: left;
	height: 48px;
	min-width: 48px;
}

.topnav a.one {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}

.topnav a.one:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: rgba(18,19,193,1);
	color: white;
}

.topnav .icon {
	display: none;
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}

/* rainbow ticker */

#marquee {
	background-image: linear-gradient(37deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
}

.ticker {
	
	font-size: small;
	font-family: 'Syne Mono', serif;
	height:15px; 
	overflow: hidden;
	position: relative;
}

.ticker p {
		tion: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%); 
	transform:translateX(100%);
/* Apply animation to this element */ 
	-moz-animation: scroll-left 18s linear infinite;
	-webkit-animation: scroll-left 18s linear infinite;
	animation: scroll-left 18s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
	0% { 
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%); 
}
	100% { 
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%); 
}
}

@keyframes scroll {
	from {left: 0px; }
	to {left: 200px; }
}

/* footer */

.bottomnav {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

.bottomnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}

.bottomnav a:hover {
	background-color: #ddd;
	color: black;
}


/* form background */

.background {
	background: rgba(0,0,0,0.7);
	width: 1000px;
	margin: auto;
	padding-top: 3%;
	padding-left: 2%;
}


/* form styles */

.pitch-form {
margin: 1%;
}

.pitch-form h1 {
	font-family: 'Syne Mono', serif;
	color: white;
	text-align: left;
	font-size: 250%;
	padding-left: 2%;
	text-shadow: 2px 2px 5px black;
}

.pitch-form h2 {
	font-family: 'Nanum Gothic Coding', monospace;
	color: white;
	text-align: left;
	font-size: 125%;
	padding-left: 2%;
	text-shadow: 2px 2px 5px black;

}

.pitch-form p {
	font-family: 'Nanum Gothic Coding', monospace;
	text-shadow: 2px 2px 5px black;
	color: white;
	padding-left: 5%;
	padding-right: 5%;
}

.pitch-form a {
	color:  #33ffaa;
}

.form-group input {
	font-family: 'Nanum Gothic Coding', monospace;
	background: black;
	color: white;
	margin-bottom: 4%;
	margin-left: 5%;
	width: 300px;
}

.form-group textarea {
	background: black;
	color: white;
	padding: 1%;
	margin-bottom: 4%;
	margin-left: 5%;
	width: 450px;
}

.form-group p {
	font-family: 'Nanum Gothic Coding', monospace;
	text-shadow: 2px 2px 5px black;
	color: white;
}

.bottomtext p {
padding: 2%
}



@media screen and (max-width: 1200px) {
	.background {
	width: 720px;
	}
}

/* responsive navbar HELLO SHEDA */

@media screen and (max-width: 768px) {
	.topnav a.one:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.background {
	width: 90%;
	margin: auto;
	}
	.form-group input {
	width: 60%;
	}

.form-group textarea {
	width: 60%;
	}
}


@media screen and (max-width: 768px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a.one {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive a.active {
		float: none;
		display: block;
		text-align: left;
	}
	.ticker p {
		-moz-animation: scroll-left 10s linear infinite;
		-webkit-animation: scroll-left 10s linear infinite;
		animation: scroll-left 10s linear infinite;
	}
}