/* body, background */

body {	
		background-image:
			url("../images/gemxiv.png"),
       		linear-gradient(45deg,
	        rgba(255, 0, 0, 1) 0%,
	        rgba(255, 154, 0, 1) 10%,
	        rgba(208, 222, 33, 1) 20%,
	        rgba(79, 220, 74, 1) 30%,
	        rgba(63, 218, 216, 1) 40%,
	        rgba(47, 201, 226, 1) 50%,
	        rgba(28, 127, 238, 1) 60%,
	        rgba(95, 21, 242, 1) 70%,
	        rgba(186, 12, 248, 1) 80%,
	        rgba(251, 7, 217, 1) 90%,
	        rgba(255, 0, 0, 1) 100%);
		background-attachment: fixed;
		height: 100%;
		margin: 0;
	}


/* responsive navigation bar */

.topnav {
  overflow: hidden;
  background-color: black;
  width: 100%;
}

.topnav img {
	float: left;
	height: 48px;
	min-width: 48px;
}

.topnav a.one {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}

.topnav a.one:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: rgba(18,19,193,1);
	color: white;
}

.topnav .icon {
	display: none;
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}


/* rainbow ticker */

#marquee {
	background-image: linear-gradient(37deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
	border-top: 2px ridge lightgrey;
	border-bottom: 2px ridge lightgrey;
}

.ticker {
	
	font-size: small;
	font-family: 'Syne Mono', serif;
	height:15px; 
	overflow: hidden;
	position: relative;
}

.ticker p {
	color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%); 
	transform:translateX(100%);
/* Apply animation to this element */ 
	-moz-animation: scroll-left 18s linear infinite;
	-webkit-animation: scroll-left 18s linear infinite;
	animation: scroll-left 18s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
	0% { 
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%); 
}
	100% { 
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%); 
}
}

@keyframes scroll {
	from {left: 0px; }
	to {left: 200px; }
}


/* page content */

.parent { /* flexbox parent */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 30px;
	margin-top: 30px;
}


.child {
	flex-flow: column;
}

.headerbox { /* headerbox */
	order: 1;
	box-sizing: content-box;
	background: rgba(0,0,0,0.8);
	max-width: 300px;
   	border: 8px ridge silver;
   	box-shadow: 6px 6px rgba(0,0,0,0.3);
	padding-bottom: 10px;

}

	.headerbox h1 { /* text in first box */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-style: italic;
		color: white;
		font-size: 250%;
		text-align: center;
}

.spacer { /* between the headerboxes */
	margin: 25px;
}

	.headerbox p { /* text in second box */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		padding: 2rem 3rem 2rem;

	}

	.headerbox mark {
		font-weight: 500;
		background-image: linear-gradient(45deg,
				red,
		        rgb(255, 95, 0, 1) 15%,
		        rgba(255, 154, 0, 1) 50%,
		        rgb(214, 242.25, 0, 1) 100%);
		color: black;
		padding-left: 1px;
		padding-right: 3px;
	}

.schedulebox { /* front page schedule */
	box-sizing: content-box;
	background: rgba(0,0,0,0.8);
	max-width: 640px;
   	border: 8px ridge silver;
   	box-shadow: 6px 6px rgba(0,0,0,0.3);
   	padding: 2rem 3rem;
}

	.schedulebox h1 { /* title */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		font-size: 175%;
}

	.schedulebox h2 { /* title */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-style: italic;
		color: white;
		font-size: 125%;
}

	.schedulebox ul {
		list-style: none;
	}

	.schedulebox li { /* text in second box */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		padding: 1em;
}
.vidbox { /* arby's youtube video */
	order: 2;
    position: relative;
    height: 360px;
    width: 640px;
    max-width: 100%;
    overflow: hidden;
    border: 8px ridge silver;
    box-shadow: 6px 6px rgba(0,0,0,0.3);
}

.vidbox iframe, .vidbox object, .vidbox embed {
	width: 640px;
	height: 360px;
	position: absolute;
	top: 0
	left: 0;
}



/* footer */

.bottomnav {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

.bottomnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}

.bottomnav a:hover {
	background-color: #ddd;
	color: black;
}



/* responsive navbar */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
	.topnav a.one:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}

}


@media screen and (max-width: 768px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a.one {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive a.active {
		float: none;
		display: block;
		text-align: left;
	}
	.ticker p {
		-moz-animation: scroll-left 10s linear infinite;
		-webkit-animation: scroll-left 10s linear infinite;
		animation: scroll-left 10s linear infinite;
	}
}