/* body, background */


body {	
		background-image:
			url("../images/gemxiv.png");
		height: 100%;
		margin: 0;
		background-position:left 67px;
		background-attachment: fixed;
		margin-top: 92px;
		background-color:  silver;
	}

body ul, li {
	padding: 0;
}

/* responsive navigation bar */

.fixnav {
	position: fixed;
	top: 0;
	width: 100%;
}

.topnav {
  	overflow: hidden;
  	background-color: black;
  	width: 100%;
}

.topnav img {
	float: left;
	height: 48px;
	min-width: 48px;
}

.topnav a.one {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}

.topnav a.one:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	float: right;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	color: white;
}

.topnav .icon {
	display: none;
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Syne Mono', monotype;
	font-size: 17px;
	background-color: black;
}


/* rainbow ticker */

#marquee {
	background-image: linear-gradient(37deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
	border-top: 2px ridge lightgrey;
	border-bottom: 2px ridge lightgrey;
}

.ticker {
	font-size: small;
	font-family: 'Syne Mono', serif;
	height:15px; 
	overflow: hidden;
	position: relative;
}

.ticker p {
	color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%); 
	transform:translateX(100%);
/* Apply animation to this element */ 
	-moz-animation: scroll-left 18s linear infinite;
	-webkit-animation: scroll-left 18s linear infinite;
	animation: scroll-left 18s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
	0% { 
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%); 
}
	100% { 
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%); 
}
}

@keyframes scroll {
	from {left: 0px; }
	to {left: 200px; }
}

/* hashlinks */

html {
	scroll-behavior: smooth;
}

.headerbox h1::before { /* #Home */ 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

.newsbox h1::before { /* #News */
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

.schedulebox h1::before { /* #Shows */
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

.newsbox h1::before { /* #Contact */
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

.newsbox h1::before { /* #Pitch */
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

.schedulebox h1::before { /* #Shop */
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}


/* page content */

.parent { /* flexbox parent */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 30px;
	margin:  auto;
	max-width: 100%;
	height: auto;
}

.child1 img {
display: block;
margin:  auto;
max-width: 100%;
height: auto;
}

.child1 {
	flex-flow: column;
	order: 1;
	justify-content: center;
}

.child2 {
	flex-flow: column;
	order: 2;
}

.headerbox { /* headerbox */
	order: 1;
	box-sizing: content-box;
	background: linear-gradient(90deg,
		rgb(0, 0, 80, 0.8),
		rgba(0,0,0,0.8) 70%);
	width: 300px;
   	border: 8px ridge silver;
   	box-shadow: 6px 6px rgba(0,0,0,0.3);
	padding-bottom: 10px;

}

	.headerbox h1 { /* text in first box */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-style: italic;
		color: white;
		font-size: 250%;
		text-align: center;
}

.spacer { /* between the headerboxes */
	margin: 30px;
}


	.headerbox p { /* text in second box */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		padding: 2rem 3rem 2rem;

	}

	.headerbox mark {
		font-weight: 500;
		background-image: linear-gradient(45deg,
			red,
		  rgb(255, 95, 0, 1) 15%,
	    rgba(255, 154, 0, 1) 50%,
	    rgb(214, 242.25, 0, 1) 100%);
		color: black;
		padding-left: 2px;
		padding-right: 3px;
	}

.newsbox { /* news panel */
	box-sizing: border-box;
	background: linear-gradient(90deg,
		rgb(0, 0, 80, 0.8),
		rgba(0,0,0,0.8) 70%);
	width:  656px;
  border: 8px ridge silver;
  box-shadow: 6px 6px rgba(0,0,0,0.3);
  padding: 2rem 3rem;
}

	.newsbox h1 { /* title */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		font-size: 175%;
		padding-bottom: 2px;
		border-bottom: 1px solid;
		border-image: linear-gradient(90deg,
			rgba(255, 0, 0, 1) 0%,
	        rgba(255, 154, 0, 1) 10%,
	        rgba(208, 222, 33, 1) 20%,
	        rgba(79, 220, 74, 1) 30%,
	        rgba(63, 218, 216, 1) 40%,
	        rgba(47, 201, 226, 1) 50%,
	        rgba(28, 127, 238, 1) 60%,
	        rgba(95, 21, 242, 1) 70%,
	        rgba(186, 12, 248, 1) 80%,
	        rgba(251, 7, 217, 1) 90%,
	        rgba(255, 0, 0, 1) 100%) 10;
}

	.newsbox h2 {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		font-size:  medium;
	}
	.newsbox img {
		width:  100%;
	}

	.newsbox p {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-size: normal;

		color: white;
	}

	.newsbox a {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-size: normal;
		background-color: slategrey;
		color: lightgreen;
		padding: 2px 3px;
	}

	.newsbox a:hover {
		background-color:  lightgreen;
		color:  slategrey;
	}

	.newsbox mark {
		font-weight: 500;
		background-image: linear-gradient(45deg,
			red,
		  rgb(255, 95, 0, 1) 15%,
	    rgba(255, 154, 0, 1) 50%,
	    rgb(214, 242.25, 0, 1) 100%);
		color: black;
		padding-left: 2px;
		padding-right: 3px;
	}

.schedulebox { /* front page schedule */
	order:  2;
	box-sizing: content-box;
	background: linear-gradient(90deg,
		rgb(0, 0, 80, 0.8),
		rgba(0,0,0,0.8) 70%);
	width: 300px;
   	border: 8px ridge silver;
   	box-shadow: 6px 6px rgba(0,0,0,0.3);
}

.schedule { /* padding for schedulebox text */
	padding:  2em;
}

	.schedulebox h1 { /* title */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		color: white;
		font-size: 175%;
		padding-bottom: 2px;
		border-bottom: 1px solid;
		border-image: linear-gradient(90deg,
			rgba(255, 0, 0, 1) 0%,
	        rgba(255, 154, 0, 1) 10%,
	        rgba(208, 222, 33, 1) 20%,
	        rgba(79, 220, 74, 1) 30%,
	        rgba(63, 218, 216, 1) 40%,
	        rgba(47, 201, 226, 1) 50%,
	        rgba(28, 127, 238, 1) 60%,
	        rgba(95, 21, 242, 1) 70%,
	        rgba(186, 12, 248, 1) 80%,
	        rgba(251, 7, 217, 1) 90%,
	        rgba(255, 0, 0, 1) 100%) 10;

}

	.schedulebox h2 { /* day of week */
		font-family: 'IBM Plex Mono Ital', monospace;
		font-weight: 1,400;
		text-align: center;
		color: cyan;
		font-size: 125%;
		padding: 0.5em;
		width: 6em;
		border-bottom: 1px solid lightgrey;
}

	.schedulebox p {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-size: small;
		font-style: italic;
		color: white;
		text-align: right;
	}

	.schedulebox ul {
		list-style-type: none;
		display: flex;
		flex-flow: column nowrap;
		gap: 6px;
	}

	.schedulebox li { /* textbox for show title */
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		text-align: right;
		color: white;
		border-bottom: 1px solid darkred;
		border-right: 1px solid darkred;
		padding: 1em;
		background-color: rgba(48,48,48,0.85);
	}

	.schedulebox a {
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-size: normal;
		color: lightgreen;
		text-align: center;
	}

	.schedulebox a:hover {
		background-color:  lightgreen;
		color:  slategrey;
	}


.vidbox { /* arby's youtube video */
	order: 2;
    position: relative;
    height: 360px;
    width: 640px;
    max-width: 100%;
    overflow: hidden;
    border: 8px ridge silver;
    box-shadow: 6px 6px rgba(0,0,0,0.3);
    z-index:-1;
}

.vidbox2 { /* arby's youtube video */
    position: relative;
    height: 169px;
    width: 300px;
    max-width: 100%;
    overflow: hidden;
    border: 8px ridge silver;
    box-shadow: 6px 6px rgba(0,0,0,0.3);
    z-index:-1;
}


.form-group input {
	font-family: 'IBM Plex Mono', monospace;
	background: black;
	color: white;
	margin-bottom: 4%;
	margin-left: 5%;
	width: 300px;
	padding: 1%;
}

.form-group textarea {
	font-family: 'IBM Plex Mono', monospace;
	background: black;
	color: white;
	padding: 1%;
	margin-bottom: 4%;
	margin-left: 5%;
	width: 450px;
}

.form-group p {
	font-family: 'IBM Plex Mono', monospace;
	color: white;
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}
img {
	display: block;
	margin:  auto;
	max-width: 100%;
	height: auto;
}

.footer p{
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 400;
		font-size: larger;
		font-style: italic;
		color: white;
		text-align: right;
		background-color: black;
		padding: 2px;
	}

.spacer2 { /* footer spacer */
	margin: 100px;
}


/* responsive body */

@media screen and (max-width: 1024px) {
	.vidbox {
		width: 300px;
		height: 169px;
	}

	.newsbox {
		width: 316px;
	}

	.form-group textarea {
		width: 220px;
				margin: auto;
	}
	.form-group input {
		width: 220px;
				margin: auto;
	}
}


/* responsive navbar */

@media screen and (max-width: 500px) {
	.topnav a.one:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}

}


@media screen and (max-width: 500px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a.one {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive a.active {
		float: none;
		display: none;
		text-align: left;
	}
	.ticker p {
		-moz-animation: scroll-left 10s linear infinite;
		-webkit-animation: scroll-left 10s linear infinite;
		animation: scroll-left 10s linear infinite;
	}
}